* {
  font-size: 12px !important;
}

.blue {
  color: #2d8cf0;
}

.orange {
  color: #f90;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 150px;
}

.searchAunt .searchItem {
  width: 24.5%;
  line-height: 70rpx;
  text-align: center;
  display: inline-block;
}

.price {
  display: inline-block;
  position: absolute;
  right: 20rpx;
}

.avatar-image {
  width: 100%;
  height: 180rpx;
  margin-right: 20rpx;
}

.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  line-height: 60rpx;
}

.textEllipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mini-tag {
  margin-right: 10rpx;
  border-right: 1px solid #ccc;
}

.detailBlock {
  margin: 10rpx;
  padding: 10rpx;
  padding-top: 0;
  background-color: #fff;
}

.detail-title {
  font-size: 14px;
  padding-left: 20px;
  line-height: 80rpx;
  text-decoration: 2px dotted #ccc;
}

.moreInfoBlock {
  padding: 0 20rpx;
  margin-bottom: 20rpx;
  line-height: 60rpx;
}

.boldFont {
  font-size: 14px;
  font-weight: bold;
}

.auntInfo {
  height: 380rpx;
  margin: 10rpx;
  padding: 10rpx;
  display: flex;
  overflow: hidden;
  background-color: #fff;
}

.auntInfoTag {
  display: inline-block;
  width: 180rpx;
  line-height: 60rpx;
  color: #1c2438;
}

.tag-name {
  color: #80848f;
}

.orderDetail .tag-name {
  display: inline-block;
  width: 200rpx;
}

.image-block {
  width: 300rpx;
  height: 400rpx;
  overflow: hidden;
  display: inline-block;
}

.detail-image {
  width: 300rpx;
  height: 100%;
}

.auntInfo .infoBlock {
  width: 60%;
}

.orderDetail .infoBlock {
  margin: 20rpx 10rpx 0;
  padding-top: 20rpx;
}

.infoBlock {
  padding: 40rpx;
  padding-right: 10rpx;
  background: #fff;
}
